{
  "software_id": "org.smarthealthit:{{cardiac_risk_app_project_name}}:{{cardiac_risk_app_project_version}}",
  "client_name": "Cardiac Risk App",
  "client_uri": "{{cardiac_risk_app_server_external_url}}/index.html",
  "logo_uri": "https://content.hspconsortium.org/images/cardiac-risk/logo/cardiac-risk.png",
  "launch_url": "{{cardiac_risk_app_server_external_url}}/launch.html",
  "redirect_uris": [
    "{{cardiac_risk_app_server_external_url}}/index.html"
  ],
  "scope": "launch online_access patient/Patient.read patient/Observation.read patient/Observation.write",
  "token_endpoint_auth_method": "none",
  "grant_types": [
    "authorization_code"
  ],
  "fhir_versions": [
    "1.0.2", "1.4.0", "1.6.0", "1.8.0", "3.0.1"
  ]
}
