{
  "name": "cardiacrisk",
  "version": "0.1.0",
  "scripts": {
    "serve": "./node_modules/http-server/bin/http-server -p {{cardiac_risk_app_server_internal_port}} -c-1 ."
  },
  "dependencies": {
    "fhirclient": "^0.1.9"
  },
  "devDependencies": {
    "http-server": "^0.9.0"
  }
}